body {
    padding-top: 70px;
}

.img {
    height: 500px;
    width: 100%;
    margin-bottom: 20px;
}

.jumbotron {
    color: #2c3e50;
    background: #ecf0f1;
}

.navbar {
    background: #2c3e50;
}

.nav-link {
    color: white;
}

.navbar-brand {
    color: white;
}